<!--The whole content below can be removed with the new code.-->

<div style="text-align:left; padding-left: 45px; padding-right: 40px">
    <b><h1>E-Nilai</h1>
    Sistem Informasi Penilaian Akurat dan Cepat</b>
    <hr>
 
Sebuah aplikasi yang memberikan solusi secara efisisen, dinamis dan realtime.
Diperuntukkan untuk mahaguru dalam menginputkan nilai mahasiswa. 
Nilai dilihat lewat frontend Angular dan penginputan lewat mobile yang didevelop menggunakan IDE Android Studio berbasis Java. 
Backend menggunakan framework Laravel. 
<hr>
</div>
<br>
<app-nilai></app-nilai>
